<div id="profile-pic" style="background-image: url({{picture.medium}})"></div>
<div class="user-info">
    <div>{{name.first}} {{name.last}}</div>
    <div>{{location.city}}, {{location.state}}</div>
</div>